<!DOCTYPE html>
<html>
<head>
  <title>NinetyNineCatsDay1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
  <% if flash %>
    <% flash.each do |message| %>
    <%= message %>
    <% end %>
  <% end %>

  <% if current_user %>
    <%=current_user.username %>
    <%=button_to 'Logout', session_url, method: "delete" %>
  <% else %>
    <%=link_to 'Login', new_session_url %>


  <% end %>
</header>
<body>
<%= yield %>

</body>
</html>
